body{
	background-color: rgb(0, 106, 206);
}

.registerButton{
	background-color: rgb(24, 206, 0);
	padding: 10px;
	color:white;
	margin-left: 20px;
}
.logoutButton{
	background-color: rgb(206, 0, 120);
	padding: 10px;
	color:white;
	margin-left: 20px;
}
.imgdata{
	height: 50px;
	width: 50px;
}
